<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.AspNetCore.Hosting.Abstractions" version="9.0.0" targetFramework="net452" />
  <package id="SC.Microsoft.Extensions.Configuration.Abstractions" version="9.0.0" targetFramework="net452" />
  <package id="SC.Microsoft.Extensions.Logging" version="9.0.0" targetFramework="net452" />
  <package id="SC.Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.1" targetFramework="net452" />
  <package id="SPS.Sitecore.Framework.Conditions" version="1.8.0" targetFramework="net452" />
  <package id="SPS.Sitecore.Framework.Publishing.Abstractions" version="1.8.0" targetFramework="net452" />
  <package id="SPS.Sitecore.Publishing.Service" version="1.8.0" targetFramework="net452" />
  <package id="SPS.System.Reactive.Core" version="1.8.0" targetFramework="net452" />
</packages>